
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33.3%;
  padding: 0px;
  height: auto; /* Should be removed. Only for demonstration */
}
.column h2{
  text-align: center;
}
.column li{
  text-align: left;
  padding: 0 50px ;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.circle_margin{
  border: 2px solid #2E2E2E;
  padding: 10px;
  border-radius: 25px;
  width: 80%;
  text-align: center;
}

.font_20{
  font-size: 35px;
}

.font_18{
  font-size: 33px;
}

.font_15{
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .column{
    width: 100%;
    height: auto;
  }
  .font_20{
    font-size: 20px;
  }
  .font_18{
    font-size: 18px;
  }
  .font_15{
    font-size: 15px;
  }
}
