#header{
  background-color: #333;
  border-width: 0;
  margin: auto;
  padding: 20px;
}
#h_item a{
  color: white;
  -webkit-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: : all 700ms ease;
}
/*over title*/
#h_item a:hover{
  color: white;
  background-color: #CC0001;
  border-radius: 50px;
}
/*over header's items*/
#h_item a:visited{
  color: white;
  background-color: #CC0001;
  border-radius: 50px;
}
.dropdown:hover .dropdown-menu {display: block;}
#h_item ul li a{
  color: white;
  background-color: #CC0001;
  height: 40px;
  -webkit-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}
/*background of second level's items*/
#ea a{
  color: #CC0001 !important;
  background: white !important;
}
/*over background of second level's items*/
#ea a:hover{
  color: white !important;
  background-color:#CC0001 !important;
}
.active_title{
  background: #CC0001;
  border-radius: 50px;
}
@media screen and (min-width: 800px) {
  #headers{
    height: 66px;
  }
}
