.t_title{
  font-size: 35px;
  text-align: center;
}
.t_info{
  text-align: center;
  color: white;
  padding: 10px 0 0 0;
}
.t_gallery{
  color: #333;
  font-size: 25px;
}
.t_white{
  color: white;
}
.t_black{
  color: #333;
}
.t_red{
  color: #CC0001;
}
.t_center{
  text-align: center;
}
.font_12p{
  font-size: 15px;
}
.font_15p{
  font-size: 20px;
}
.font_20p{
  font-size: 23px;
}
.font_25p{
  font-size: 40px;
}
.text_foot{
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .font_25p{
    font-size: 25px;
  }
  .font_20p{
    font-size: 20px;
  }
  .font_12p{
    font-size: 12px;
  }
  .font_15p{
    font-size: 15px;
  }
}
